@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;800&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;800&display=swap");
body {
   margin: 0;
   background-color: white;
   overflow-y: hidden;
   /* background: linear-gradient(
      0.25turn,
      rgba(0, 0, 255, 0.5),
      rgb(216, 71, 39, 0.6)
   ); */
}

a,
h2,
h1,
h3,
h6,
label,
nav {
   font-family: "Livvic", sans-serif;
   /* font-family: "Roboto", sans-serif; */
   /* font-family: "Source Code Pro", monospace; */
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: 200;
   outline: none;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

span {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 100%;
}
